* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1000px;
  margin: 0 auto;
  place-items: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: green;
  font-weight: 500;
}

.main__button {
  width: 10vw;
}

.button {
  padding: 6px 12px;
  border: 0;
  color: white;
}

.add__button {
  background-color: rgba(0, 128, 0, 0.8);
}

.del__button {
  background-color: rgba(255, 0, 0, 0.8);
}

.edit__button {
  background-color: rgba(255, 212, 0, 0.8);
  color: black;
}

.reset__button {
  background-color: transparent;
  color: green;
  font-weight: 600;
  border: 2px solid green;
}

